openapi: 3.0.0
info:
  title: GeoApi
  version: 1.0.0
servers:
  - url: https://openstack.media-immo.fr
security:
  - bearerAuth: []
paths:
  /list:
    get:
      summary: Liste les fichiers du container
      parameters:
        - name: "Container-name"
          in: header
          schema:
            type: string
          example: "NOT-FACTURES-URBA"
      
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/File"
              examples:
                file:
                  $ref: "#/components/examples/files"
  /download:
    get:
      summary: Récupère le contenu d'un fichier
      parameters:
      - name: "filename"
        in: query
        schema:
          type: string
        example: "cerfa_CUa_ATHIS_MONS.pdf"
      responses:
        "200":
          description: OK
          content:
            text/html:
              schema:
                type: string
                example: "Raw pdf content"
  /upload:
    post:
      summary: Envoi un fichier
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
            
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    File:
      type: object
      properties:
        containerName: 
          type: string
          example: "NOT-FACTURES-URBA"
        name:
          type: string
          example: "CONTRAT_DE_FACTURATION_DE_PRESTATIONS.pdf"
        hash:
          type: string
          example: "888a5d2bf22bf876a3c7f86355ec6d19"
        contentType:
          type: string
          example: "application/pdf"
        contentLength: 
          type: integer
          example: 241133
        lastModified":
          type: object
          properties:
            date:
              type: string
              example: "2022-02-09 15:22:47.647410"
            timezone_type: 
              type: integer
              example: 3
            timezone: 
              type: string
              example: "Europe/Paris"
       
      
  examples:
    files:
      value:
        - containerName: "NOT-FACTURES-URBA"
          name: "CONTRAT_DE_FACTURATION_DE_PRESTATIONS.pdf"
          hash: "888a5d2bf22bf876a3c7f86355ec6d19"
          contentType: "application/pdf"
          contentLength: 241133
          lastModified: 
            date: "2022-02-09 15:22:47.647410"
            timezone_type: 3
            timezone: "Europe/Paris"
          metadata: null
        - containerName: "NOT-FACTURES-URBA"
          name: "cerfa_CUa_ATHIS_MONS.pdf"
          hash: "2f418f27b70e7491a98e19de643f52ea"
          contentType: "application/pdf"
          contentLength: 1714927
          lastModified: 
            date: "2022-02-24 09:20:41.212550"
            timezone_type: 3
            timezone: "Europe/Paris"
          metadata: null
